@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Navigation Bar Styles */
.navigation-bar {
    background-color: rgba(34, 31, 31, 0.8); /* Change background color and opacity as needed */
    padding: 10px 0;
  }
  .navigation-bar ul {
    list-style-type: none;
    text-align: center;
  }
  .navigation-bar li {
    display: inline;
  }
  
  .navigation-bar a {
    text-decoration: none;
    color: #fff; /* Change text color as needed */
    padding: 10px 20px;
    position: relative;
  }
  
  .navigation-bar a:hover {
    color: #a96700; /* Change hover color as needed */
  }
  
  /* Active link */
  .navigation-bar .active a {
    color: #a96700; /* Change active color as needed */
  }
  
  /* Underline effect */
  .navigation-bar a .underline {
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background-color: #a96700; /* Change underline color as needed */
    transform: scaleX(0); /* Initially no width */
    transition: transform 0.3s ease-in-out;
  }
  .navigation-bar a:hover .underline,
  .navigation-bar .active a .underline {
    transform: scaleX(1); /* Expand width on hover or when active */
  }
body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

.post-form {
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    background-color: #7f7fd5;
    background: linear-gradient(to right, #598784, #86a8e7, #7f7fd5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.post-form form {
    display: flex;
    flex-direction: column;
}

.post-form label {
    margin-bottom: 8px;
}

.post-form input[type="text"],
.post-form textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.post-form input[type="submit"] {
    padding: 20px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post-form input[type="submit"]:hover {
    background-color: #45a049;
}
