<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
    <link rel="stylesheet" href="stylesheet/signup.css">
</head>
<body>
<div class="container">
    <header>
        <nav>
            <div class="logo">
                <a href="/"><img src="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/logo-rosa-white.png"
                                 alt="Rosa Logo"></a>
            </div>
            <div class="toggle">
                <span class="first"></span>
                <span class="middle"></span>
                <span class="last"></span>
            </div>
            <div class="navigation-bar">
                <ul>
                    <li class="active"><a href="/">Home<span class="underline"></span></a></li>
                    <li><a href="#">Reservations<span class="underline"></span></a></li>
                    <li><a href="/Menu">Menu<span class="underline"></span></a></li>
                    <li><a href="#">Blog<span class="underline"></span></a></li>
                    <li><a href="#">Features<span class="underline"></span></a></li>
                    <li><a href="#">Shop<span class="underline"></span></a></li>
                    <li><a href="#">Contact<span class="underline"></span></a></li>
                    <li><a href="/logging">Logging/Signup<span class="underline"></span></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="post-form">
        <h2>Create a New Post</h2>
        <form action="/Submit_Post" method="POST" enctype="multipart/form-data">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" required><br>
            <label for="content">Content:</label><br>
            <textarea id="content" name="content" rows="4" cols="50" required></textarea><br>
            <label for="image">Upload Image:</label><br>
            <input type="file" id="image" name="image"><br>
            <button type="submit">Submit Post</button>
        </form>
    </div>
</div>
</body>
</html>


