<div class="container">
    <link rel="stylesheet" href="stylesheet/logging.css">
    <header>
        <nav>
            <div class="logo">
                <a href="/"><img src="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/logo-rosa-white.png" alt="Rosa Logo"></a>
                <link rel="stylesheet" href="stylesheet/create blog.css"> 
            </div>
            <div class="toggle">
                <span class="first"></span>
                <span class="middle"></span>
                <span class="last"></span>
            </div>
            <div class="navigation-bar">
                <ul>
                    <li class="active"><a href="/">Home<span class="underline"></span></a></li>
                    <li><a href="#">Reservations<span class="underline"></span></a></li>
                    <li><a href="/Menu">Menu<span class="underline"></span></a></li>
                    <li><a href="#">Blog<span class="underline"></span></a></li>
                    <li><a href="#">Features<span class="underline"></span></a></li>
                    <li><a href="#">Shop<span class="underline"></span></a></li>
                    <li><a href="#">Contact<span class="underline"></span></a></li>
                    <li><a href="/logging">Logging/Signup<span class="underline"></span></a></li>
                   
                </ul>
            </div>
        </nav>
    </header>

    <div class="post-form">
        <h2>Create a New Post</h2>
        <form action="/Submit_Post" method="POST">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" required><br>
            <h2></h2><label for="content">Content:</label><br></h2>
            <textarea id="content" name="content" rows="4" cols="50" required></textarea><br>
            <button>Submit Post</button>
        </form>
    </div>
</div>
